.backgroundFull{
  width: 100vw;
  height: 100vh;
}
.divBackgroundMenuLeft {
  width: 350px;
  height: -webkit-fill-available;
  background-color: #1e1e1e;
  position: fixed;
  display: grid;
  grid-template-rows: min-content min-content auto;
  padding: 30px 30px 30px 30px;
  color: #a5a5a5;
}

i {
  width: 90%;
  height: 50px;
  display: block;
  margin: auto auto 50px auto;
  background-color: white;
}

.logoMenuLeft {
  width: 100%;
  margin-bottom: 30px;
}

h1 {
  margin-top: 40px;
  font-size: 18px;
  font-weight: 4000;
}

ul {
  display: grid;
  grid-gap: 5px;
}

.divLiWithOptions {
  display: grid;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.divMoreOptions {
  margin-top: auto;
  grid-gap: 10px;
  margin-bottom: 20px;
  
}
li:not(:first-child) {
  margin-left: 60px;
  opacity: 0.5;
}
li:not(:first-child):hover {
  opacity: 1;
}
.menuLeftButton {
  width: 100%;
  padding: 10px 10px 10px 20px;
  border-radius: 9px;
  display: flex;
  grid-gap: 18px;
  align-items: center;
  justify-content: initial;
  color: white;
  font-size: 16px;
}

.menuLeftButton:hover {
  background-color: #343434;
}

.hover:active {
  background-color: #343434;
}

p {
  margin-bottom: 0px;
}

span {
  display: inline;
  white-space: nowrap;
}

.list {
  display: flex;
  grid-gap: 18px;
  border-radius: 9px;
  align-items: center;
  padding: 10px 10px 10px 20px;
}

.list:hover {
  background-color: #343434;
}
